<div class="card">
  <div class="card-img-top">
    <img src="" alt="">
  </div>
  <div class="card-body">
    <h2 class="card-title">Имя: </h2>
    <p class="card-text">Вес: </p>
    <p class="card-text">Рост: </p>

    <p class="card-text"><b>Умения</b></p>
    <ul class="list-group"></ul>
    
      <li class="list-group-item"></li>
    
    </ul>
  </div>
</div>

